{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block heading %} signup {% endblock heading %}
{% block content %}
    <form action="{% url 'posts:signup' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class = "btn btn-primary" type="submit" value="Sign Up">
        <a href="{% url 'github_login' %}" class="btn btn-dark"><i class="fa fa-github" aria-hidden="true"></i>  Signup Using Github</a>
        <a href="{% url 'twitter_login' %}" class="btn btn-primary"> <i class="fa fa-twitter" aria-hidden="true"> </i>  Signup Using Twitter</a>
    </form>
{% endblock content %}